/* FONTS */
/* LAYOUT */
.j-container-fluid {
	max-width: 1000px;
}

:root {
	--swiper-theme-color: #f28200;
	--bs-font-sans-serif: 'neue-haas-grotesk-display', serif;
}

/* GENERALI */
.j-outline-none {
	border: none;
	outline: none;
}

.j-outline-none:focus {
	box-shadow: none;
}

.j-filetto {
	display: inline-block;
	border-bottom: 0.3em solid var(--bs-dark);
}

.j-position-relative {
	position: relative;
}

/* FONTS */
.j-fw-100 {
	font-weight: 100;
}

.j-fw-300 {
	font-weight: 300;
}

.j-fw-400 {
	font-weight: 400;
}

.j-fw-500 {
	font-weight: 500;
}

.j-fw-600 {
	font-weight: 600;
}

.j-fw-700 {
	font-weight: 700;
}

.j-fw-900 {
	font-weight: 900;
}

.j-lh-05 {
	line-height: 0.5;
}

.j-lh-08 {
	line-height: 0.8;
}

.j-lh-09 {
	line-height: 0.9;
}

.j-lh-095 {
	line-height: 0.95;
}

.j-fs-02vw {
	font-size: 2vw;
}

.j-fs-03vw {
	font-size: 3vw;
}

.j-fs-035vw {
	font-size: 3.5vw;
}

.j-fs-04vw {
	font-size: 4vw;
}

.j-fs-05vw {
	font-size: 5vw;
}

.j-fs-06vw {
	font-size: 6vw;
}

.j-fs-07vw {
	font-size: 7vw;
}

.j-fs-08vw {
	font-size: 8vw;
}

.j-fs-09vw {
	font-size: 9vw;
}

.j-fs-10vw {
	font-size: 10vw;
}

.j-fs-11vw {
	font-size: 11vw;
}

.j-fs-115vw {
	font-size: 11.5vw;
}

@media (min-width: 991.98px) {
	.j-fs-lg-1rem {
		font-size: 1rem;
	}

	.j-fs-lg-2rem {
		font-size: 2rem;
	}

	.j-fs-lg-3rem {
		font-size: 3rem;
	}
}

/* SPECIFICI */
.meccano {
	border-radius: 50rem !important;
	padding: .6em .8em;
}

.meccano svg {
	vertical-align: baseline;
	margin-bottom: -.05em;
}

.meccano .inner {
	padding: 0 .8em;
}

/* COLORS */
.j-orange {
	color: #f28200;
}

.j-bg-orange {
	background-color: #f28200;
}

.j-bg-layer {
	background-color: rgba(255, 255, 255, 0.7);
}

.card-orange {
	background-color: #f28200;
}

.card-orange .color-bg {
	color: #f28200;
}

.card-orange .color-one {
	color: white;
}

.card-orange .color-two {
	color: #393939;
}

.card-dark {
	background-color: #393939;
}

.card-dark .color-bg {
	color: #393939;
}

.card-dark .color-one {
	color: #f28200;
}

.card-dark .color-two {
	color: white;
}

@media (min-width: 991.98px) {
	.card-lg-orange {
		background-color: #f28200;
		border: 10px solid white;
		margin-bottom: 50px;
	}

	.card-lg-orange .color-bg {
		color: #f28200;
	}

	.card-lg-orange .color-one {
		color: white;
	}

	.card-lg-orange .color-two {
		color: #393939;
	}

	.card-lg-dark {
		background-color: #393939;
		border: 10px solid white;
		margin-top: 50px;
	}

	.card-lg-dark .color-bg {
		color: #393939;
	}

	.card-lg-dark .color-one {
		color: #f28200;
	}

	.card-lg-dark .color-two {
		color: white;
	}
}

.j-arrow {
	padding-right: 4vw;
}

@media (min-width: 991.98px) {
	.j-arrow {
		padding-right: 100px;
	}
}

.j-arrow img {
	width: 30vw;
}

@media (min-width: 991.98px) {
	.j-arrow img {
		width: 120px;
	}
}
