<footer class="bg-white border-top py-5">
  <div class="container-lg d-sm-flex justify-content-between">

    <div class="d-lg-flex mb-5">
      <p class="lh-1"> <b>URBANISTIC<br>PROJECTS</b> NEW<br> GENERATIONAL<br>PATHS </p>
      <p class="lh-1 ms-lg-5"> <b> +info </b> <br> <a class="text-dark text-decoration-none" href="mailto:info@urbanisticprojects.eu">info@urbanisticprojects.eu</a> </p>
    </div>

    <div class="me-2 d-lg-flex">
      <p class="mb-3">
        <img src="/res/banner_DIDA_nero.svg" alt="Logo Dida" style="width: auto; height: 3.5em">
      </p>
      <p class="ms-lg-5">
        <img src="/res/aho-logo.png" alt="Logo Dida" style="width: auto; height: 3.5em">
      </p>
    </div>
  </div>
</footer>
