<footer class="bg-white border-top py-5">
  <div class="container-lg d-lg-flex justify-content-between">
    <p class="lh-1"> <b>URBANISTIC<br>PROJECTS</b> NEW<br> GENERATIONAL<br>PATHS </p>
    <p class="lh-1"> <b> +info </b> <br> <a class="text-dark text-decoration-none" href="mailto:info@urbanisticprojects.eu">info@urbanisticprojects.eu</a> </p>
    <p style="width: 10em; height: 5em;"></p>
    <p class="mb-5"> <img src="/res/banner_DIDA_nero.svg" alt="Logo Dida" style="width: auto; height: 4em"> </p>
    <p class=""> <img src="/res/aho-logo.png" alt="Logo Dida" style="width: auto; height: 4em"> </p>
  </div>
</footer>



<!-- div class="fixed-bottom bg-white text-danger text-center p-1 border-top border-2 border-danger j-fw-600">

  WEBSITE UNDER CONSTRUCTION

</div <!--  -->
