<!-- DESKTOP NAV -->

<nav class="navbar d-none d-lg-flex navbar-expand-lg navbar-light fixed-top bg-white">
  <div class="container-lg">
    <a class="navbar-brand" href="/">
      <b>URBANISTIC PROJECTS</b> NEW GENERATIONAL PATHS
    </a>
    <div class=""">
      <ul class=" navbar-nav ms-auto mb-2 mb-lg-0 j-fw-700 text-dark">

      <li class="nav-item dropdown px-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
          program
        </a>
        <ul class="dropdown-menu border-0">
          {% assign events = site.pages | where: 'dir','/events/' |  sort: "date" %}
          {% for event in events %}
          <li><a class="dropdown-item" href="/events/{{event.title | downcase | slugify}}">{{event.title | downcase}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/about">about</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/final-event">final event</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/credits">credits</a>
      </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-none d-lg-flex" style="margin-bottom: 150px;">
</div>

<!-- MOBILE MENU -->

<div class="d-lg-none pt-3" style="margin-bottom: 50px;">
  <div class="container-lg d-flex">
    <a class="text-dark fs-6 lh-1 text-decoration-none mobile-brand" href="/">
      <b>URBANISTIC<br>PROJECTS</b> NEW<br> GENERATIONAL<br>PATHS
    </a>
    <div class="d-flex rounded-circle bg-light" style="width: 55px; height: 55px; position: fixed; top: 13px; right: 12px; mix-blend-mode: difference;">
      <a data-bs-toggle="modal" href="#openMobileMenu" class="navbar-toggler border-0 j-outline-none" style="padding-top: 14px;">
        <img src="/res/hamburger.svg" alt="hamburger" height="25px" style="isolation: isolate;">
      </a>
    </div>
  </div>
</div>

<div class="modal fade" id="openMobileMenu" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body j-bg-orange">
        <div class="d-flex flex-row-reverse" style="margin-top:10px; margin-right: 10px">
          <a data-bs-dismiss="modal">
            <img src="/res/close-white.svg" height="25px" alt="close-menu">
          </a>
        </div>

        <ul class="ms-3 list-unstyled">
          <li class="">
            <a class="j-fs-08vw j-fw-700 text-white text-decoration-none" href="/">home/program</a>
          </li>
          <li class="">
            <ul class="list-unstyled">
              {% assign events = site.pages | where: 'dir','/events/' |  sort: "date" %}
              {% for event in events %}
              <li><a class="ps-3 j-fs-08vw j-fw-500 text-white text-decoration-none lh-1" href="/events/{{event.title | downcase | slugify}}">{{event.title | downcase}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="mt-1">
            <a class="j-fs-08vw j-fw-700 text-white text-decoration-none" href="/about.html">about</a>
          </li>
          <li class="">
            <a class="j-fs-08vw j-fw-700 text-white text-decoration-none" href="/final-event.html">final event</a>
          </li>
          <li class="">
            <a class="j-fs-08vw j-fw-700 text-white text-decoration-none" href="/credits">credits</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
