<!-- long-arrow mobile -->

<div class="d-lg-none" style="position: absolute; top: 15em; left: 2em;">
  <img src="/res/freccia-lunga.svg" alt="long-arrow" style="width: 10em; z-index: -1">
  <div class="j-lh-05" style="position: absolute; top: 19em; left: 9.5em;">
    <a style="" class="text-dark j-fw-700 j-fs-05vw j-fs-lg-3rem text-decoration-none" href="/the-project">learn<br>more</a>
  </div>
</div>


<!-- long-arrow desktop -->

<div class="d-none d-lg-flex justify-content-end mb-3" style="position: relative; top: -1em; right: 1em;">
  <div class="">
    <img src="/res/freccia-corta.svg" alt="long-arrow" style="width: 9em; z-index: -1">
    <div class="j-lh-05" style="position: absolute; bottom: -.5em; right: -1em;">
      <a style="" class="text-dark j-fw-700 j-fs-05vw j-fs-lg-3rem text-decoration-none" href="/the-project">learn<br>more</a>
    </div>
  </div>
</div>
