{% for event in site.data.events %}
  {% if include.type == "studio" %}
    {% assign name = event.studio-name %}
    {% assign link = event.studio-link %}
    {% assign pic = event.studio-pic %}
  {% else if include.type == "scholar" %}
    {% assign name = event.scholar-name %}
    {% assign link = event.scholar-link %}
    {% assign pic = event.scholar-pic %}
  {% endif %}

  <div class="col-md-6 my-2 px-3">
    <div class="card bg-light">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle text-muted">{{event.country}}</h6>
            <h6 class="mt-5 card-text"><a target="_blank" href="{{link}}"> more info </a></h6>
          </div>
          <img class="w-25 rounded-circle border" alt="{{name}}" src="{{pic}}">
        </div>
      </div>
    </div>
  </div>
{% endfor %}
