<script src="/res/bootstrap.bundle.min.js"> </script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVMF1VFZP0"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-GVMF1VFZP0');
</script>

<script src="/res/lorem.js"></script>



<script>
  const swiper_events = new Swiper('#swiper-events', {

    direction: 'horizontal',
    loop: false,
    slidesPerView: 1.1,
    spaceBetween: 0,
    navigation: {
      nextEl: '#swiper-events-button-next',
      prevEl: '#swiper-events-button-prev',
    },
    pagination: {
      el: ".swiper-pagination",
    },

    // Enable keyboard controls
    keyboard: {
      enabled: true,
      onlyInViewport: true,
    }

  });
</script>
