<!DOCTYPE html>
{% if page.language == "eng" %}
<html lang="en" dir="ltr">
{% else %}
<html lang="it" dir="ltr">
{% endif %}

{% include head.html %}


<body class="">
  {% include header.html %}

  <div class="container-lg offset-md-2 col-md-8 offset-lg-3 col-lg-6">

    <div class="text-end pb-5">
      <div class="">
        <h1 class="j-fs-300em j-fw-900 j-dark j-lh-09">{{ page.title | upcase }} </h1>
      </div>
    </div>

    <div class="markdown f-fs-120em bg-white">
      {{content}}
    </div>

  </div>


  {% include footer.html %}

  {% include scripts-after.html %}
</body>

</html>
